@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button,input,textarea,select {
	padding:0;
	margin:0;
	font-size:12px;
	font-family:'Microsoft yahei',Verdana,Tahoma,sans-serif
}
body {
	text-align:left;
	color:#555;
	overflow-y:auto;
	overflow-x:auto;
	min-width:990px;
	background-color:#e7e9eb;
}
ul,ol {
	list-style:none
}
img {
	border:0
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#f2960e;
	text-decoration:none;
}
:focus {
	outline:0
}
h1,h2,h3,h4,h5,h6 {
	color:#333
}
h2.box-title {
	margin-bottom:15px;
}
h2.box-title span {
	display:inline-block;
	font-size:18px;
	line-height:22px;
	padding-bottom:12px;
	border-bottom:2px solid #f2960e;
}
h2.box-title span b {
	font-size:26px;
	vertical-align:bottom;
	*+vertical-align:baseline;
}
.wrap {
	width:990px;
	margin:0 auto;
	position:relative;
}
.clear {
	clear:both;
	display:block;
	height:0;
}
#mininav {
	position:relative;
	height:34px;
	background:#232323;
	z-index:9999;
}
#mininav #nav>li {
	position:relative;
}
#mininav #nav>li.fr {
	float:right;
}
#mininav #nav>li.fl {
	float:left;
	padding-right:2px;
	background:url(data:image/gif;base64,R0lGODlhAgABAIAAADk5OQAAACwAAAAAAgABAAACAgwKADs=) top right repeat-y;
}
#mininav #nav>li.fl:last-child {
	padding-right:0;
	background-image:none;
}
#mininav #nav>li a {
	display:block;
	line-height:20px;
	padding:7px 24px 7px 15px;
	color:#aeaeae;
}
#mininav #nav>li.single a {
	padding-right:15px;
}
#mininav #nav>li em.nav-drop-arrow{
	display:block;
	position:absolute;
	top:14px;
	right:14px;
    width:7px;
    height:4px;
	background:url(data:image/gif;base64,R0lGODlhBwAEAIAAAJ6env///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==) no-repeat;
	transition:transform .3s linear;
}
#mininav #nav>li ul.nav-sub {
	display:none;
	position:absolute;
	top:34px;
	left:0;
	background-color:#fff;
}
#mininav #nav>li ul.nav-sub li {
	display:block;
	width:100px;
}
#mininav #nav>li ul.nav-sub li a {
	display:block;
	line-height:20px;
	padding:7px 15px;
	color:#333;
}
#mininav #nav>li.fl:hover {
	background-color:#fff;
}
#mininav #nav>li.fl:hover a {
	color:#333;
}
#mininav #nav>li.fr:hover a {
	color:#fff;
}
#mininav #nav>li.fl:hover ul.nav-sub {
	display:block;
}
#mininav #nav>li.fl:hover em.nav-drop-arrow {
	transform:rotate(180deg);
}
#mininav #nav>li ul.nav-sub li a:hover {
	background:#f7f7f7;
}
#banner {
	position:relative;
	height:620px;
	background:#f2960e url(../img/banner.jpg) center top no-repeat;
	overflow:hidden;
	z-index:9990;
}
#logo {
	position:absolute;
	top:22px;left:10px;
	overflow:hidden;
}
#logo>a {
	display:block;
	width:209px;height:64px;
}
#logo>div {
	margin:8px 0 0 5px;
}
#logo>div p {
	display:inline-block;
	float:left;
	padding:0 8px;
	line-height:22px;
	color:#fff;
	background-color:#bc0000;
	border-radius:3px;
}
#logo>div #his-select {
	float:left;
	position:relative;
	margin-left:10px;
}
#logo>div #his-select a {
	display:block;
	width:80px;
	line-height:22px;
	padding:0 10px;
	background:#fff;
}
#logo>div #his-select em{
	position:absolute;
	right:10px;top:9px;
	width:7px;height:4px;
	background: url(data:image/gif;base64,R0lGODlhBwAEAIAAAJ6env///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==) no-repeat;
}
#logo>div #his-select div {
	width:80px;
	display:none;
}
#logo>div #his-select div a {
	display:block;
	line-height:24px;
	padding:0 10px;
}
#logo>div #his-select:hover div {
	display:block;
}
#editor {
	position:relative;
	height:197px;
	background-color:#232323;
	z-index:9999;
}
#editor #says {
	position:absolute;
	height:137px;
	top:30px;right:0;left:330px;
	padding-right:160px;
	background:url(../img/editor.png) right top no-repeat;
}
#editor p {
	padding-top:22px;
	line-height:22px;
	font-size:14px;
	color:#777;
}
#editor #intro {
	position:absolute;
	width:300px;
	height:360px;
	top:0;
	left:0;
	background:#141414;
	cursor:pointer;
	transition:top ease .5s;
}
#editor #intro:hover {
	top:-160px;
}
#editor #intro #title {
	position:absolute;
    left:10px;
    top:-10px;
	font-size:28px;
    line-height:32px;
    padding:8px 10px;
    color:#333;
    background-color:#fff;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
}
#editor #intro #title em {
	display:block;
	position:absolute;
	top:0;right:-10px;
	width:10px;height:10px;
	background:url(data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///7y8vP///yH5BAEAAAMALAAAAAAKAAoAAAIS1I4olrp91mtyupqqvDrq/VUFADs=) left top no-repeat;
}
#editor #intro h1 {
	position:absolute;
    right:30px;
    top:10px;
    font-size:36px;
    color:#F8C82A;
    line-height:42px;
}
#editor #intro p.comment {
	margin:65px 30px 0 30px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:0;
	color:#ddd;
	border-top:1px solid #333;
}
#editor #intro p.comment a {
	line-height:24px;
	color:#F8C82A;
}
#editor #intro #experience {
	margin:0 30px 0 30px;
}
#editor #intro #experience h2 {
	font-size:20px;
	color:#fff;
	line-height:50px;
}
#editor #intro #experience p {
	padding:0;
	line-height:26px;
}
#content {
	position:relative;
    z-index:10000;
	padding:15px 0;
	background-color:#e7e9eb;
}
#content .fr {
	float:right;
	width:280px;
}
#content .fl {
	float:left;
	width:695px;
}
.box {
	padding:18px;
	margin-bottom:15px;
	background-color:#fff;
	transition:box-shadow .3s ease-out;
}
.box:hover {
	box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
.box .impress li {
	position:relative;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #e4e4e4;
	overflow:hidden;
}
.box .impress li img {
	float:left;
	width:48px;
	height:48px;
	margin-top:4px;
	border-radius:24px;
}
.box .impress li .area {
	margin-left:60px;
}
.box .impress li h5 {
	margin-bottom:5px;
}
.box .impress li .area p {
	line-height:20px;
}
.box .impress.bt li {
	padding-bottom:20px;
	margin-bottom:20px;
}
.box .impress.bt li:last-child {
	border-bottom-width:0;
}
.box .impress.bt li img {
	width:52px;
	height:52px;
	border-radius:26px;
}
.box .impress.bt li .area {
	margin-left:64px;
}
.box .impress.bt h5 {
	margin-bottom:10px;
	font-size:15px;
	color:#333;
	line-height:24px;
}
.box .impress.bt h5 span {
	padding:0 3px;
	margin-right:5px;
	background-color:#5ccb42;
	color:#fff;
	font-weight:normal;
	border-radius:2px;
}
.box .impress.bt a.detail {
	color:#417634;
}
.box .comment {
	overflow:hidden;
}
.box .comment h3 {
	font-size:15px;
	padding-bottom:15px;
}
.box .comment textarea {
	width:242px;
	height:50px;
	background-color:#f5f5f5;
	box-shadow:1px 1px 2px rgba(0,0,0,0.05) inset;
	border:1px solid #ddd;
	resize:none;
}
.box .comment textarea:hover {
	border-color:#41AD2F;
}
.box .comment button {
	float:right;
	width:60px;
	height:26px;
	margin-top:5px;
	background-color:#55c93c;
	border:1px solid #41AD2F;
	color:#fff;
	font-size:12px;
	text-shadow:1px 1px 0 rgba(34,118,14,0.3);
	cursor:pointer;
}
.box .comment button:hover {
	background-color:#6fd159;
}
.box .rec-list {
	margin-left:15px;
}
.box .rec-list li{
	list-style-type:disc;
}
.box .rec-list li a,.box .msg {
	line-height:26px;
	font-size:13px;
}
.box .work li {
	display:block;
	width:320px;
	float:left;
	padding-bottom:20px;
}
.box .work li.m {
	margin-left:18px;
}
.box .work li>a {
	display:block;
	position:relative;
}
.box .work li img {
	width:320px;
	transform: perspective(800px) rotateY(0deg);
	transition:all .25s linear .25s;
}
.box .work li .cover {
	filter:alpha(opacity=0);
	position:absolute;
	left:0;top:0;
	width:320px;height:235px;
	background-color:#f1f1f1;
	cursor:pointer;
	transform: perspective(800px) rotateY(90deg);
	transition:all .25s linear;
}
.box .work li .cover p {
	padding:30px;
	line-height:26px;
	text-align:center;
	font-size:14px;
	color:#333;
	cursor:pointer;
}
.box .work .desc {
	padding:10px;
}
.box .work .desc a{
	font-size:20px;
}
.box .work .desc p {
	line-height:28px;
	color:#777;
}
.box .work .desc p span {
	color:#f03404;
}
.box .work li a:hover img {
	transition-delay:0s;
	transform: perspective(800px) rotateY(-90deg);
}
.box .work li a:hover .cover {
	filter:alpha(opacity=95);
	transition-delay:.25s;
	transform: perspective(800px) rotateY(0deg);
}
#ask {
	position:relative;
	height:34px;
	margin:20px 0 30px 0;
	border:1px solid #ddd;
	background-color:#f5f5f5;
	box-shadow:1px 1px 2px rgba(0,0,0,0.05) inset;
}
#ask:hover{
	border-color:#41AD2F;
}
#ask input {
	position:absolute;
	top:0;left:0;
	width:520px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border:none;
	background:none;
}
#ask label {
	display:block;
	position:absolute;
	line-height:34px;
	font-size:15px;
	padding-left:10px;
	color:#999;
	cursor:text;
}
#ask button {
	position:absolute;
	top:-1px;
	right:-1px;
	width:100px;
	height:36px;
	background-color:#55c93c;
	border:1px solid #41AD2F;
	color:#fff;
	font-size:14px;
	text-shadow:1px 1px 0 rgba(34,118,14,0.3);
	cursor:pointer;
}
#ask button:hover {
	background-color:#6fd159;
}
#history {
	padding:50px 0;
	background:#fff;
}
#history .box-title {
	border-top:1px solid #ddd;
	margin:0 200px 50px 200px;
	height:1px;
	overflow:visible;
}
#history .box-title span {
	display:block;
	width:100px;
	padding:0;
	margin:-23px auto 0 auto;
	line-height:40px;
	text-align:center;
	background:#fff;
	border-top:2px solid #f2960e;
}
#loop {
	position:relative;
}
#loop .loop-main {
	position:relative;
	width:880px;
	height:110px;
	margin:0 auto;
	overflow:hidden;
}
#loop .loop-main .loop-content {
	position:absolute;
	left:0;top:0;
	width:1320px;
	overflow:hidden;
}
#loop a.arr {
	display:block;
	position:absolute;
	top:0;
	width:50px;
	height:110px;
	line-height:110px;
	text-align:center;
	color:#333;
	font-size:40px;
	font-family:sans-serif;
	background-color:#f5f5f5;
}
#loop a.arr:hover {
	color:#f2960e;
	background-color:#f1f1f1;
}
#loop a.arr.left {
	left:0;
}
#loop a.arr.right {
	right:0;
}
#loop ul {
	overflow:hidden;
}
#loop li {
	display:block;
	float:left;
	padding:0 20px;
}
#loop li a {
	display:block;
	position:relative;
	width:180px;
	height:110px;
	overflow:hidden;
}
#loop li a img {
	width:180px;
	height:110px;
	transition:transform .3s ease-out;
}
#loop li a span {
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:0;
	text-indent:10px;
	color:#fff;
	line-height:30px;
	background:#000;
	opacity:0.8;
	filter:alpha(opacity=80);
	overflow:hidden;
	transition:height .3s ease-out;
}
#loop li a:hover img {
	transform:scale(1.2);
}
#loop li a:hover span {
	height:30px;
}
#footer {
	padding:40px 0;
	line-height:24px;
	text-align:center;
	background-color:#232323;
	color:#aeaeae;
}
#footer a {
	color:#aeaeae;
}
#footer a:hover {
	color:#fff;
}
.topfeed {
	display:none;
	position:fixed;
	bottom:50px;
	left:50%;
	margin-left:500px;
	z-index:20000;
}
.topfeed a {
	display:block;
	position:relative;
	width: 50px;
	height:50px;
	line-height:55px;
	font-size:30px;
	color:#333;
	text-align:center;
	overflow:visible;
	background-image: url("../img/rocket.png");
	background-position:center center;
	background-repeat:no-repeat;
}
.topfeed a span {
	position:absolute;
	top:-40px;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	line-height:50px;
	font-size:12px;
	color:#aaa;
	display:none;
	cursor:pointer;
}
.topfeed a:hover span {
	display:block
}
#a-wangxi {
	position:absolute;
    right:50px;
    bottom:-609px;
    height:1218px;
    transform:rotateX(-90deg);
    animation:a1 1s linear 1s forwards;
}
@-webkit-keyframes a1 {
	0%{transform:perspective(800px) rotateX(-90deg)}
	40%{transform:perspective(800px) rotateX(20deg)}
	55%{transform:perspective(800px) rotateX(-15deg)}
	70%{transform:perspective(800px) rotateX(10deg)}
	85%{transform:perspective(800px) rotateX(-5deg)}
	100%{transform:perspective(800px) rotateX(0deg)}
}
@-moz-keyframes a1 {
	0%{transform:perspective(800px) rotateX(-90deg)}
	40%{transform:perspective(800px) rotateX(20deg)}
	55%{transform:perspective(800px) rotateX(-15deg)}
	70%{transform:perspective(800px) rotateX(10deg)}
	85%{transform:perspective(800px) rotateX(-5deg)}
	100%{transform:perspective(800px) rotateX(0deg)}
}
@-ms-keyframes a1 {
	0%{transform:perspective(800px) rotateX(-90deg)}
	40%{transform:perspective(800px) rotateX(20deg)}
	55%{transform:perspective(800px) rotateX(-15deg)}
	70%{transform:perspective(800px) rotateX(10deg)}
	85%{transform:perspective(800px) rotateX(-5deg)}
	100%{transform:perspective(800px) rotateX(0deg)}
}
@-o-keyframes a1 {
	0%{transform:perspective(800px) rotateX(-90deg)}
	40%{transform:perspective(800px) rotateX(20deg)}
	55%{transform:perspective(800px) rotateX(-15deg)}
	70%{transform:perspective(800px) rotateX(10deg)}
	85%{transform:perspective(800px) rotateX(-5deg)}
	100%{transform:perspective(800px) rotateX(0deg)}
}
#a-name {
	position:absolute;
	top:150px;right:320px;
	text-align:right;
	font-size:16px;
	font-style:italic;
	color:#511d0f;
	opacity:0;
	animation:a-name .5s ease-out 3.6s forwards;
}
#a-name i {
	font-size:24px;
	font-family:arial,sans-serif;
}
@-webkit-keyframes a-name {
	0%{transform:translateX(-100px);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}
@-moz-keyframes a-name {
	0%{transform:translateX(-100px);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}
@-ms-keyframes a-name {
	0%{transform:translateX(-100px);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}
@-o-keyframes a-name {
	0%{transform:translateX(-100px);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}
#a-c1,#a-c2 {
	position:absolute;
	bottom:-130px;
	right:-50px;
	opacity:0;
	transform:scale(0.2);
	animation:a-c .5s ease forwards;
}
#a-c1 {
	width:550px;
	height:550px;
	border-radius:275px;
	animation-delay:.2s;
}
#a-c1 img {
	width:550px;
}
#a-c2 {
	bottom:-105px;
	right:-25px;
	width:500px;
	height:500px;
	border-radius:250px;
}
#a-c2 img {
	width:500px;
}
@-webkit-keyframes a-c {
	0%{transform:scale(0.2);opacity:0;}
	100%{transform:scale(1) translateY(0);opacity:1;}
}
@-moz-keyframes a-c {
	0%{transform:scale(0.2);opacity:0;}
	100%{transform:scale(1) translateY(0);opacity:1;}
}
@-ms-keyframes a-c {
	0%{transform:scale(0.2);opacity:0;}
	100%{transform:scale(1) translateY(0);opacity:1;}
}
@-o-keyframes a-c {
	0%{transform:scale(0.2);opacity:0;}
	100%{transform:scale(1) translateY(0);opacity:1;}
}
#sq {
	position:absolute;
	bottom:-130px;
	right:-50px;
	width:550px;
	height:550px;
	transform:scale(0.5);
	opacity:0;
	animation:a-sq .5s ease-in .5s forwards;
}
.sq {
	position:absolute;
	background-image:url(../img/sq.png);
	background-repeat:no-repeat;
}
.sq.sq1 {
	width:38px;
	height:40px;
	top:120px;left:-30px;
	background-position:0 -115px;
}
.sq.sq2 {
	width:81px;
	height:72px;
	top:0;right:-30px;
	background-position:0 -39px;
}
.sq.sq3 {
	width:37px;
	height:36px;
	top:180px;right:-70px;
	background-position:0 0;
}
@-webkit-keyframes a-sq {
	0%{transform:scale(0.5);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}
@-moz-keyframes a-sq {
	0%{transform:scale(0.5);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}
@-ms-keyframes a-sq {
	0%{transform:scale(0.5);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}
@-o-keyframes a-sq {
	0%{transform:scale(0.5);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}
#a-fl1 {
	position:absolute;
	bottom:-50px;right:150px;
	width:449px;
	height:460px;
	background:url(../img/flower.png) left -160px no-repeat;
	transform:scale(0) rotate(45deg);
	animation:a-fl1 .5s ease-out 2s forwards;
}
#a-fl2 {
	position:absolute;
	bottom:20px;right:-20px;
	width:160px;
	height:160px;
	background:url(../img/flower.png) left top no-repeat;
	opacity:0;
	transform:scale(0.8) rotate(0deg);
	animation:a-fl2 .5s linear 2s forwards;
}
@-webkit-keyframes a-fl1 {
	0%{transform:scale(0) rotate(45deg); bottom:-350px; right:100px;}
	100%{transform:scale(1) rotate(0deg); bottom:-50px; right:150px; }
}
@-moz-keyframes a-fl1 {
	0%{transform:scale(0) rotate(45deg); bottom:-350px; right:100px;}
	100%{transform:scale(1) rotate(0deg); bottom:-50px; right:150px; }
}
@-ms-keyframes a-fl1 {
	0%{transform:scale(0) rotate(45deg); bottom:-350px; right:100px;}
	100%{transform:scale(1) rotate(0deg); bottom:-50px; right:150px; }
}
@-o-keyframes a-fl1 {
	0%{transform:scale(0) rotate(45deg); bottom:-350px; right:100px;}
	100%{transform:scale(1) rotate(0deg); bottom:-50px; right:150px; }
}
@-webkit-keyframes a-fl2 {
	0%{transform:scale(0.8) rotate(0deg); opacity:0;}
	100%{transform:scale(1) rotate(180deg); opacity:1; }
}
@-moz-keyframes a-fl2 {
	0%{transform:scale(0.8) rotate(0deg); opacity:0;}
	100%{transform:scale(1) rotate(180deg); opacity:1; }
}
@-ms-keyframes a-fl2 {
	0%{transform:scale(0.8) rotate(0deg); opacity:0;}
	100%{transform:scale(1) rotate(180deg); opacity:1; }
}
@-o-keyframes a-fl2 {
	0%{transform:scale(0.8) rotate(0deg); opacity:0;}
	100%{transform:scale(1) rotate(180deg); opacity:1; }
}
.txt {
	position:absolute;
	left:-515px;
	width:1030px;
	background-image:url(../img/text.png);
	background-repeat:no-repeat;
	animation:a-txt .8s linear forwards;
}
.txt.t1 {
	height:123px;
	top:180px;
	background-position:515px 0;
	transform:perspective(800px) rotateY(-270deg);
	animation-delay:2s;
}
.txt.t2 {
	height:66px;
	top:265px;
	background-position:515px -124px;
	transform:perspective(800px) rotateY(-270deg);
	animation-delay:2.4s;
}
.txt.t3 {
	height:160px;
	top:325px;
	background-position:515px -190px;
	transform:perspective(800px) rotateY(-270deg);
	animation-delay:2.8s;
}
@-webkit-keyframes a-txt {
	0%{transform:perspective(800px) rotateY(-270deg);opacity:0;}
	100%{transform:perspective(800px) rotateY(0deg);opacity:1;}
}
@-moz-keyframes a-txt {
	0%{transform:perspective(800px) rotateY(-270deg);opacity:0;}
	100%{transform:perspective(800px) rotateY(0deg);opacity:1;}
}
@-ms-keyframes a-txt {
	0%{transform:perspective(800px) rotateY(-270deg);opacity:0;}
	100%{transform:perspective(800px) rotateY(0deg);opacity:1;}
}
@-o-keyframes a-txt {
	0%{transform:perspective(800px) rotateY(-270deg);opacity:0;}
	100%{transform:perspective(800px) rotateY(0deg);opacity:1;}
}
.line {
	position:absolute;
	width:300px;
	height:300px;
	background-image:url(../img/line.png);
	background-repeat:no-repeat;
}
.line.l1 {
	left:-100px;
	top:-200px;
}
.line.l2 {
	left:-150px;
	top:-100px;
}
.line.l3 {
	right:-150px;
	top:-100px;
}
.line.l4 {
	right:-250px;
	top:-150px;
}
.line.l5 {
	left:-100px;
	bottom:-200px;
	background-position:0 -300px;
}
.line.l6 {
	left:0;
	bottom:-150px;
	background-position:0 -300px;
}
.line.a-l1 {
	transform:translate(100%,-100%);
	animation:a-l1 .5s ease-out 3.6s forwards;
}
.line.a-l2 {
	transform:translate(-100%,100%);
	animation:a-l2 .5s ease-out 3.6s forwards;
}
@-webkit-keyframes a-l1 {
	0%{transform:translate(100%,-100%);}
	100%{transform:translate(0,0);}
}
@-moz-keyframes a-l1 {
	0%{transform:translate(100%,-100%);}
	100%{transform:translate(0,0);}
}
@-ms-keyframes a-l1 {
	0%{transform:translate(100%,-100%);}
	100%{transform:translate(0,0);}
}
@-o-keyframes a-l1 {
	0%{transform:translate(100%,-100%);}
	100%{transform:translate(0,0);}
}
@-webkit-keyframes a-l2 {
	0%{transform:translate(-100%,100%);}
	100%{transform:translate(0,0);}
}
@-moz-keyframes a-l2 {
	0%{transform:translate(-100%,100%);}
	100%{transform:translate(0,0);}
}
@-ms-keyframes a-l2 {
	0%{transform:translate(-100%,100%);}
	100%{transform:translate(0,0);}
}
@-o-keyframes a-l2 {
	0%{transform:translate(-100%,100%);}
	100%{transform:translate(0,0);}
}